
.grid-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto; }
  .grid-container .row {
    display: flex;
    background-color: white; }
    @media (max-width: 420px) {
      .grid-container .row {
        display: flex;
        flex-wrap: wrap; }
        .grid-container .row [class*='col-'] {
          width: 100%; } }
  .grid-container [class*='col-'] {
    min-height: 100px;
    background: black;
    margin: 5px;
    text-align: center;
    line-height: 100px;
    font-size: 2em; }
  .grid-container .col-1 {
    width: 25%; }
  .grid-container .col-2 {
    width: 50%; }
  .grid-container .col-3 {
    width: 75%; }
  .grid-container .col-4 {
    width: 100%; }

.crazy-layout {
  margin-top: 20px;
  color: white;
  background-color: white;
  width: 100%; }

.grow {
  flex-grow: 1;
  min-height: 100px;
  background: black;
  margin: 5px;
  text-align: center;
  line-height: 100px;
  font-size: 2em; }

.nogrow {
  width: 30%;
  min-height: 100px;
  background: black;
  margin: 5px;
  text-align: center;
  line-height: 100px;
  font-size: 2em; }
