body {
  margin:0;
  padding:0;
  border:0;
}
a {
  color: black;
}
a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: underline;
}

a:active {
      text-decoration: underline;
}

#navigation {
  width: 100vw;
  position: fixed;
  top:0%;
  background-color: white;
  z-index: 1;
}
#logo {
font-family: 'Lato', sans-serif;
padding-top: 10px;
padding-left: 10px;
font-weight: 400;
display: inline-block;
float: left;
}
#nav {
  display: inline-block;
  float: right;
  list-style: none;
}
ul{
  float:right;
}
li {
  font-family: 'Lato', sans-serif;
  display: inline-block;
  float: left;
  margin-right: 20px;
}
#bobo {
  position: absolute;
  top: 50%;
  left: 27%;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
}
.bonobo {
  margin-top: 0;
  font-size: 4em;
}
#video {
  width: 100%;
  margin: 0px;
  background-image: url('../img/back.jpg');
  background: fixed no-repeat center center;
  background-size: cover;
}
#klip{
  left: 0px;
  top: 0px;
  max-width: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
  z-index: 1;
}
#main {
  height: 550px;
  width:100vw;
  padding-top: 100px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}
h1 {
  margin: 0 auto;
  width: 30vw;
  font-family: 'Lato', sans-serif;
}
#stuff {
  height: 200px;
  width:100vw;
  margin-top: 150px;
}
.box {
  width: 33%;
  height: 100%;
  display: inline-grid;
  margin-bottom: 0px;
}
h2 {
  font-family: 'Lato', sans-serif;
}
#work {
  margin-top: 100px;
  padding-top: 50px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  width: 100%;
  height: 300px;
}

#about {
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding-top: 50px;
  width: 100%;
  height: 500px;
}
#tab {
  width: 100%;
  height: 400px;
  margin-top: 50px
}
.desk {
  display: inline-block;
}
#img {
  width: 49%;
  height: 49%

}
#text{
  margin-top: 0px;
  width: 49%;
  height: 50%;
}
#contact {
  margin-top: 50px;
  padding-top: 50px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  width: 100vw;
  height: 500px;
}

form {
  margin-top: 50px;
}

footer {
  height: 100px;
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-weight: 100;
}
